@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-image: url(../images/hillbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content:end;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: flex-start;
    position:absolute;
    top:10%;
    left:5%;
    width:40%;
}


a, p{
    color:rgb(255, 255, 255);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 40px;
}

a:hover{
    color:aqua;
}

img{
    width:100%;
}


.container p{
    text-transform:uppercase;
}
