@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-color: black;
    background-image: url(../images/pixelatedgalaxy.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    position:absolute;
    top:10%;
    align-items:center; 
    justify-content: center;
}

a, p{
    color:rgb(255, 255, 255);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

a{
    font-size: 20pt;
}
a:hover{
    color:aqua;
}

#text{
    display: flex;
    font-size: 50px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 50%;
    text-justify: center;
}
