@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-image: url(../images/bridgeway.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    display: flex;
    justify-content:end;
    flex-direction:column;
    flex-wrap: wrap;
    position:absolute;
    top:40%;
    left:30%;
}


.tinycontainer{
    display: flex;
    justify-content:end;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tinycontainer a{
    color: white;
    font-size: 40pt;
}

#question{
    display: flex;
    font-size: 60px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

p{
    color:rgb(255, 255, 255);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

a{
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;  
}

#yes a:hover{
    color:greenyellow;
}


#no a:hover{
    color:rgb(255, 30, 0);
}
