@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-color: black;
    background-image: url(../images/emptinessbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.container{
    display: flex;
    justify-content:end;
    flex-direction:column;
    flex-wrap: wrap;
    position:absolute;
    justify-content: center;
    align-self: center;
    position: absolute;
    top:35%;
    left:28%;
    width:50%;

}

.tinycontainer{
    display: flex;
    justify-content:end;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#question{
    display: flex;
    font-size: 60px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-justify: center;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

a{
    color:rgb(255, 255, 255);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;  
    font-size: 40px;
}


#yes a:hover{
    color:greenyellow;
}


#no a:hover{
    color:rgb(255, 30, 0);
}
