@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-color: black;
    background-image: url(../images/emptinessbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}



.container{
    display: flex;
    justify-content:end;
    flex-direction:column;
    flex-wrap: wrap;
    position:absolute;
    top:40%;
    left:30%;
}


.tinycontainer{
    display: flex;
    justify-content:end;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#question{
    display: flex;
    font-size: 60px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

#yes{
    font-size: 40px;
}

#no{
    font-size: 40px;
}

a, p{
    color:rgb(0, 0, 0);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

a:hover{
    color:aqua;
}

#text{
    display: flex;
    font-size: 60px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}