@import url("https://use.typekit.net/tdf2rmk.css");

body{
    background-image: url(../images/gradientBW.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.container{
    display: flex;
    justify-content:end;
    flex-direction:column;
    flex-wrap: wrap;
    position:absolute;
    bottom:10%;
    left:10%;
}


a, p{
    color:rgb(255, 255, 255);
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

a{
    font-size:40pt;
}

a:hover{
    color:aqua;
}

#text{
    display: flex;
    font-size: 60px;
    font-family: "degular-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    width: 60%;
}

#turnpage a{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30pt;
}